<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Configuration" providerName="System.Data.SqlClient"
          connectionString="Data Source=localhost,1433; Initial Catalog=kanban;User ID=sa;Password=Conestoga1; MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>